root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.ps1]
end_of_line = crlf

[*.{png,jpg,jpeg,gif,pdf,zip,pptx,docx,xlsx}]
charset = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
